@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#passPanel{
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 17px;
}

#passgen-button{
  list-style-image: url("active.png");
  border:1px;
}

treechildren::-moz-tree-checkbox(checked){
  /* css for checked cells */
  list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif");
}

treechildren::-moz-tree-row(selected){
  background-color: -moz-CellHighlight;
}
treechildren::-moz-tree-row(odd){
  background-color: #EEEEEE;
}
treechildren::-moz-tree-row(odd, selected){
  background-color: -moz-CellHighlight;
}
